@page "/BlazorCalendar"
@rendermode InteractiveServer


<h3>BlazorCalendar</h3>



<div class="calendar">
    @foreach (var day in Days)
    {
        <div class="day" @onclick="() => SelectDate(day)">@day.Day</div>
    }
</div>

@code {
    public DateTime CurrentMonth { get; set; } = DateTime.Now;
    public List<DateTime> Days { get; set; } = new();

    protected override void OnInitialized()
    {
        GenerateCalendar();
    }

    void GenerateCalendar()
    {
        Days.Clear();
        var firstDay = new DateTime(CurrentMonth.Year, CurrentMonth.Month, 1);
        var daysInMonth = DateTime.DaysInMonth(CurrentMonth.Year, CurrentMonth.Month);
        for (int i = 0; i < daysInMonth; i++)
        {
            Days.Add(firstDay.AddDays(i));
        }
    }

    void SelectDate(DateTime date)
    {
        Console.WriteLine($"Selected: {date}");
    }
}