@page "/"
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<input type="text" id="dateTimeInput" class="form-control" />
<p>Selected Date & Time: @selectedDateTime</p>


@inject IJSRuntime JS

<input type="text" id="dateTimeInput" class="form-control" />
<p>Selected Date & Time: @selectedDateTime</p>

@code {
    private string selectedDateTime;
}
